<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Project</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="/assets/css/3-column-mobile-friendly.css">
    <link rel="stylesheet" href="/assets/css/Article-List.css">
    <link rel="stylesheet" href="/assets/css/Card-hover-affect-2.css">
    <link rel="stylesheet" href="/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/Highlight-Clean.css">
    <link rel="stylesheet" href="/assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="/assets/css/Map-Clean.css">
    <link rel="stylesheet" href="/assets/css/navigation.css">
    <link rel="stylesheet" href="/assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="/assets/css/smoothproducts.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" style="background-color: #152a3b;">
        <div class="container-fluid"><a class="navbar-brand" href="/" style="background-image: url(&quot;/assets/img/final.png&quot;);width: 200px;height: 50px;"> </a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon" style="background-color: #dad5c2;"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mx-auto"></ul>
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/" style="color: rgb(203,175,147);">Home</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false"  style="color: rgb(203,175,147);">About US</a>
                        <div class="dropdown-menu" role="menu" style="background-color: rgba(203,175,147,0.85);"><a class="dropdown-item" role="presentation" href="/missionandvalue" style="font-size: 13px;font-weight: bold;">Mission &amp; ValueS</a><a class="dropdown-item" role="presentation" href="/partners" style="font-size: 13px;font-weight: bold;">Partners</a>
                            <a
                                class="dropdown-item" role="presentation" href="/investmentoption" style="font-size: 13px;font-weight: bold;">Investment Option</a><a class="dropdown-item" role="presentation" href="/investmentrelation" style="font-size: 13px;font-weight: bold;">INvestment RElation</a></div>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/newsandmedia" style="color: rgb(203,175,147);">News &amp; Media</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/projects" style="color: rgb(203,175,147);">ProjectS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/contact-us" style="color: rgb(203,175,147);">Contact Us</a></li>
                </ul>
        </div>
        </div>
    </nav>

<div class="w3-content w3-display-container">
    <div class="w3-display-container mySlides">
  <img src="/assets/img/house<%=newid%>/img1.jpg" style="width:100%">

</div>

<div class="w3-display-container mySlides">
<img src="/assets/img/house<%=newid%>/img2.jpg" style="width:100%">

</div>

<div class="w3-display-container mySlides">
<img src="/assets/img/house<%=newid%>/img3.jpg" style="width:100%">
</div>

<div class="w3-display-container mySlides">
<img src="/assets/img/house<%=newid%>/img4.jpg" style="width:100%">
</div>

<div class="w3-display-container mySlides">
<img src="/assets/img/house<%=newid%>/img5.jpg" style="width:100%">
</div>

<div class="w3-display-container mySlides">
<img src="/assets/img/house<%=newid%>/img6.jpg" style="width:100%">
</div>

<div class="w3-display-container mySlides">
<img src="/assets/img/house<%=newid%>/img7.jpg" style="width:100%">
</div>

<div class="w3-display-container mySlides">
<img src="/assets/img/house<%=newid%>/img8.jpg" style="width:100%">
</div>

<button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>


</div>

    <hr>
    <h1 class="text-center"> House <%=newid%> </h1>
    <p class="text-center" style="padding-right: 15px;padding-left: 15px;">orem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus felis et libero scelerisque, sed aliquet nulla tincidunt. Quisque lorem nisl, semper vitae mattis nec, vestibulum nec risus. Sed ut volutpat tortor, ut sodales diam. Integer
        at tristique turpis. Integer orci leo, fringilla ac aliquet vitae, condimentum non lorem. Duis velit ex, aliquam vel pellentesque et, dictum vitae mauris. Vestibulum commodo luctus tortor eu ultrices. Fusce commodo enim non eros consectetur maximus.
        Donec venenatis dolor ut vestibulum fermentum. Aliquam malesuada sit amet nulla id imperdiet. Suspendisse maximus purus et ligula maximus, a luctus ante fringilla.<br><br>In vitae velit risus. Cum sociis natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Phasellus tincidunt venenatis mi quis congue. Cras eu leo nisi. Ut ornare nisi eget sapien dapibus, eu ornare dolor egestas. Donec venenatis neque lacus, nec mollis odio fermentum a. Maecenas at elit sed diam elementum
        varius mollis vel arcu. Praesent ornare nisl mi, et posuere purus viverra sed. Sed a lacus nec lorem tincidunt condimentum. Nulla eu tellus pulvinar, tristique metus a, sodales nibh. Ut magna nisi, laoreet id lacus non, cursus bibendum tortor.
        Sed pretium elit erat. In non pretium nulla.</p>
    <div class="map-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center"></h2>
                <p class="text-center"></p>
            </div>
        </div><iframe allowfullscreen="" frameborder="0" width="100%" height="450" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAHB8vu8fc8k06UZQCt93UWUVDdRiCI-Ug&amp;key=AIzaSyAHB8vu8fc8k06UZQCt93UWUVDdRiCI-Ug&amp;q=Australia%2C+682 Warrigal Rd, Malvern East VIC 3145&amp;zoom=15&amp;zoom=15"></iframe></div>
    <div class="footer-basic" style="background-color: rgb(21,42,59);">
        <footer style="background-color: rgb(21,42,59);padding-top: 0px;padding-bottom: 0px;">
            <div class="social"><a href="#" style="color: rgb(203,175,147);"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-twitter" style="color: rgb(203,175,147);"></i></a><a href="#"><i class="icon ion-social-facebook" style="color: rgb(203,175,147);"></i></a></div>
            <p
                class="text-center" style="color: rgb(203,175,147);font-weight: normal;font-family: Montserrat, sans-serif;">49 Allison Road, Mount Albert North 3129 | +61 458 698 618 | derrick.tugiono@gmail.com</p>
                <p class="copyright" style="font-family: Montserrat, sans-serif;color: rgb(203,175,147);font-weight: bold;opacity: 1;">Two Peaks Development © 2019</p>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/Card-hover-affect-2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
<script>var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>
</body>

</html>
